In [ ]:
import os
import boto3
import pandas as pd
from io import StringIO

pd.set_option('display.max_columns', 50)

In [2]:
aws_access_key_id = os.getenv("AWS_ACCESS_KEY")
aws_secret_key = os.getenv("AWS_SECRET_KEY")

In [3]:
print(aws_access_key_id)

AKIAWNHTHEV2S3O4QAXM

In [4]:
def read_csv_from_s3(bucket: str, path: str, filename: str) -> pd.DataFrame:
    """
    Read a CSV file from S3 and return it as a DataFrame

    Parameters
    ----------
    bucket: str
        The name of the S3 bucket
    path: str
        The path to the CSV file in the S3 bucket
    filename: str
        The name of the CSV file

    Returns
    -------
    pd.DataFrame
        The DataFrame containing the CSV data
    """
    s3 = boto3.client('s3', aws_access_key_id=aws_access_key_id, aws_secret_access_key=aws_secret_key)
    obj = s3.get_object(Bucket=bucket, Key=f"{path}{filename}")

    output_df = pd.read_csv(StringIO(obj['Body'].read().decode('utf-8')))

    return output_df

In [5]:
s3 = boto3.client('s3', aws_access_key_id=aws_access_key_id, aws_secret_access_key=aws_secret_key)
bucket = 'cubix-chicago-taxi-34'

community_areas_path = "transformed_data/community_areas/"
company_path = "transformed_data/company/"
date_path = "transformed_data/date/"
payment_type_path = "transformed_data/payment_type/"
taxi_trips_path = "transformed_data/taxi_trips/"
weather_path = "transformed_data/weather/"

In [6]:
community_areas = read_csv_from_s3(bucket, community_areas_path, "community_areas_master.csv")
company = read_csv_from_s3(bucket, company_path, "company_master.csv")
date = read_csv_from_s3(bucket, date_path, "date_dimensions.csv")
payment_type = read_csv_from_s3(bucket, payment_type_path, "payment_type_master.csv")

In [8]:
trips_list = []
weather_list = []

In [9]:
for file in s3.list_objects_v2(Bucket=bucket, Prefix=taxi_trips_path)['Contents']:
    file_key = file['Key']

    if(file_key.split('/'))[-1].strip() != "":
        if(file_key.split('.')[1] == "csv"):
            filename = file_key.split('/')[-1]

            trip = read_csv_from_s3(bucket, taxi_trips_path, filename)
       
            trips_list.append(trip)
            print(f"{filename} has been added")

taxi_2025-01-23.csv has been added
taxi_2025-01-24.csv has been added
taxi_2025-01-25.csv has been added
taxi_2025-01-26.csv has been added
taxi_2025-01-27.csv has been added
taxi_2025-01-28.csv has been added
taxi_2025-01-29.csv has been added
taxi_2025-01-30.csv has been added
taxi_2025-01-31.csv has been added
taxi_2025-02-01.csv has been added
taxi_2025-02-02.csv has been added
taxi_2025-02-03.csv has been added
taxi_2025-02-04.csv has been added
taxi_2025-02-05.csv has been added

In [ ]:
trips = pd.concat(trips_list, ignore_index=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 182559 entries, 0 to 182558
Data columns (total 20 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   trip_id                     182559 non-null  object
 1   taxi_id                     182559 non-null  object
 2   trip_start_timestamp        182559 non-null  object
 3   trip_end_timestamp          182559 non-null  object
 4   trip_seconds                182559 non-null  int64
 5   trip_miles                  182559 non-null  float64
 6   pickup_community_area_id    182559 non-null  int64
 7   fare                        182559 non-null  float64
 8   tips                        182559 non-null  float64
 9   tolls                       182559 non-null  float64
 10  extras                      182559 non-null  float64
 11  trip_total                  182559 non-null  float64
 12  pickup_centroid_latitude    182559 non-null  float64
 13  pickup_centroid_longitude   182559 non-null  float64
 14  dropoff_community_area_id   182559 non-null  int64
 15  dropoff_centroid_latitude   182559 non-null  float64
 16  dropoff_centroid_longitude  182559 non-null  float64
 17  datetime_for_weather        182559 non-null  object
 18  payment_type_id             182559 non-null  int64
 19  company_id                  182559 non-null  int64
dtypes: float64(10), int64(5), object(5)
memory usage: 27.9+ MB

(182559, 20)

In [11]:
for file in s3.list_objects_v2(Bucket=bucket, Prefix=weather_path)['Contents']:
    file_key = file['Key']

    if(file_key.split('/'))[-1].strip() != "":
        if(file_key.split('.')[1] == "csv"):
            filename = file_key.split('/')[-1]

            weather_daily = read_csv_from_s3(bucket, weather_path, filename)
            weather_list.append(weather_daily)
            print(f"{filename} has been added")

weather_2025-01-23.csv has been added
weather_2025-01-24.csv has been added
weather_2025-01-25.csv has been added
weather_2025-01-26.csv has been added
weather_2025-01-27.csv has been added
weather_2025-01-28.csv has been added
weather_2025-01-29.csv has been added
weather_2025-01-30.csv has been added
weather_2025-01-31.csv has been added
weather_2025-02-01.csv has been added
weather_2025-02-02.csv has been added
weather_2025-02-03.csv has been added
weather_2025-02-04.csv has been added
weather_2025-02-05.csv has been added

In [ ]:
weather = pd.concat(weather_list, ignore_index=True)

              datetime  temperature  wind_speed  rain  precipitation
0  2025-01-23 00:00:00         -5.2        15.6   0.0            0.0
1  2025-01-23 01:00:00         -5.5        14.5   0.0            0.0
2  2025-01-23 02:00:00         -5.4        15.7   0.0            0.0
3  2025-01-23 03:00:00         -5.4        14.7   0.0            0.1
4  2025-01-23 04:00:00         -5.5        13.7   0.0            0.1

In [37]:
trips_full = pd.merge(trips, weather, how='inner', left_on='datetime_for_weather', right_on='datetime')
trips_full = trips_full.drop(columns=['datetime'])

In [38]:
trips_full = pd.merge(trips_full, company, how='inner', left_on='company_id', right_on='company_id')
trips_full = trips_full.drop(columns=['company_id'])

In [39]:
trips_full = pd.merge(trips_full, payment_type, how='inner', left_on='payment_type_id', right_on='payment_type_id')
trips_full = trips_full.drop(columns=['payment_type_id'])

In [40]:
trips_full = pd.merge(trips_full, community_areas, how='inner', left_on='pickup_community_area_id', right_on='area_codes')
trips_full = trips_full.drop(columns=['pickup_community_area_id', 'area_codes'])
trips_full.rename(columns={'community_name': 'pickup_community_area_name'}, inplace=True)

In [41]:
trips_full = pd.merge(trips_full, community_areas, how='inner', left_on='dropoff_community_area_id', right_on='area_codes')
trips_full = trips_full.drop(columns=['dropoff_community_area_id', 'area_codes'])
trips_full.rename(columns={'community_name': 'dropoff_community_area_name'}, inplace=True)

In [ ]:
date['date'] = pd.to_datetime(date['date'])
trips_full['trip_start_timestamp'] = pd.to_datetime(trips_full['trip_start_timestamp'])
trips_full['trip_start_date'] = trips_full['trip_start_timestamp'].dt.date
trips_full['trip_start_date'] = pd.to_datetime(trips_full['trip_start_date'])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 182559 entries, 0 to 182558
Data columns (total 26 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   trip_id                      182559 non-null  object
 1   taxi_id                      182559 non-null  object
 2   trip_start_timestamp         182559 non-null  datetime64[ns]
 3   trip_end_timestamp           182559 non-null  datetime64[ns]
 4   trip_seconds                 182559 non-null  int64
 5   trip_miles                   182559 non-null  float64
 6   fare                         182559 non-null  float64
 7   tips                         182559 non-null  float64
 8   tolls                        182559 non-null  float64
 9   extras                       182559 non-null  float64
 10  trip_total                   182559 non-null  float64
 11  pickup_centroid_latitude     182559 non-null  float64
 12  pickup_centroid_longitude    182559 non-null  float64
 13  dropoff_centroid_latitude    182559 non-null  float64
 14  dropoff_centroid_longitude   182559 non-null  float64
 15  datetime_for_weather         182559 non-null  object
 16  temperature                  182559 non-null  float64
 17  wind_speed                   182559 non-null  float64
 18  rain                         182559 non-null  float64
 19  precipitation                182559 non-null  float64
 20  company                      182559 non-null  object
 21  payment_type                 182559 non-null  object
 22  pickup_community_area_name   182559 non-null  object
 23  dropoff_community_area_name  182559 non-null  object
 24  trip_start_date              182559 non-null  datetime64[ns]
 25  trip_end_date                182559 non-null  datetime64[ns]
dtypes: datetime64[ns](4), float64(14), int64(1), object(7)
memory usage: 36.2+ MB

In [ ]:
# trips_full['trip_end_timestamp'] = pd.to_datetime(trips_full['trip_end_timestamp'])
# trips_full['trip_end_date'] = trips_full['trip_end_timestamp'].dt.date
# trips_full['trip_end_date'] = pd.to_datetime(trips_full['trip_end_date'])

In [46]:
trips_full['trip_start_date'].dtypes

dtype('<M8[ns]')

In [ ]:
trips_full = pd.merge(trips_full, date, how='inner', left_on='trip_start_date', right_on='date')
trips_full = trips_full.drop(columns=['date'])

In [48]:
trips_full.head()

,trip_id,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,fare,tips,tolls,extras,...,pickup_community_area_name,dropoff_community_area_name,trip_start_date,trip_end_date,date,year,month,day,day_of_week,is_weekend
0,88c57edd4f84fbae22fe1d3e1e458fad2bbd3499,342474dd3a24c9d5b7dbc2514032a01ecb396624638be5...,2025-01-23 23:45:00,2025-01-23 23:45:00,120,0.30,4.25,0.00,0.0,0.0,...,Near North Side,Near North Side,2025-01-23,2025-01-23,2025-01-23,2025,1,23,4,False
1,887c744740d85e0dd36f943f933e683004adf92e,fbfc2ff558d0fc2dd96362ef65d25e08f00b13bc427645...,2025-01-23 23:45:00,2025-01-23 23:45:00,420,0.90,7.44,0.00,0.0,0.0,...,Loop,Loop,2025-01-23,2025-01-23,2025-01-23,2025,1,23,4,False
2,7f5d734e8de7ecf6b97253cf86930490a79959e4,180b2a6d689cccad88413fb5ad24145cee508ea5269a4f...,2025-01-23 23:45:00,2025-01-24 00:00:00,1320,12.50,32.50,7.00,0.0,4.0,...,Garfield Ridge,Kenwood,2025-01-23,2025-01-24,2025-01-23,2025,1,23,4,False
3,7f2b8a8b6b347fff58095df9585d9c1faa5e2c21,0d3fc37b4e76ff16045a1e82cd817625cebff2683927eb...,2025-01-23 23:45:00,2025-01-24 00:00:00,511,1.83,8.50,0.00,0.0,0.0,...,Near North Side,Near South Side,2025-01-23,2025-01-24,2025-01-23,2025,1,23,4,False
4,7005845a7abb817545eca061c53f42f238720b04,697ada6eb0299a4956ac3305adc75c5b45342ae7c7cd7f...,2025-01-23 23:45:00,2025-01-24 00:00:00,861,3.55,12.47,3.17,0.0,0.0,...,West Town,Near North Side,2025-01-23,2025-01-24,2025-01-23,2025,1,23,4,False